*{
  margin: 0%;
  padding: 0%;
  font-family: 'Roboto', sans-serif;
}


nav{
  background-color: rgb(5, 5, 111);
  color: white;
  padding: 10px;
  text-align: center;
}

.container{
  background-color: bisque;
  width: 70%;
  margin: auto;
  min-height: 100vh;
  padding: 4vmax 8vmax;
  box-sizing: border-box;
}

.container>form{
  display: flex;
  flex-direction: column;
}
input,textarea,button{
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.118);
  border-radius: 5px;
  margin: 10px 0;
  font-size: 1.2rem;
}
button{
  color: white;
  border: none;
  cursor:pointer;
  background-color: rgb(20, 18, 18);
}

.tasks{
  display: flex;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin: 20px 0;
  align-items: center;
}
.tasks>div{
  width: 100%;
}

.tasks span{
  color: rgba(0, 0, 0, 0.807);
}
.tasks button{
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: crimson;
}
.tasks button:hover{
  background-color: red;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,400&display=swap');